@charset "utf-8";

/* 데스크탑 - 미디어쿼리를 작성하지 않는다.*/

/* 헤더 */
.header{ width:100%; padding: 0 15px; position: fixed; left: 0; top: 0; background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,0.2); z-index: 200;}
.header .aligner{ max-width: 1200px; height: 85px; margin: 0 auto; position: relative;}

/* 로고 */
.header .aligner h1{ position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.header .aligner h1 a img { height: 36px;}

/* 햄버거 메뉴버튼*/
.header .aligner .open{width: 3.5rem; height: 3.5rem; position: absolute; right: 0; top: 50%; transform: translateY(-50%); border: 0; background: url(../images/drawer-opener-black.svg) no-repeat center/50% 50%; background-color: transparent; text-indent: -9999px; display: none;}
.drawer .head .close{ visibility: hidden; opacity: 0;}

/*  1depth  */
.nav{ position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.nav > ul:after{ content: ""; display: table; clear: both;}
.nav > ul > li{ float: left; position: relative;}
.nav > ul > li + li{ margin-left: 90px;}
.nav > ul > li > a{ display: block; padding: 28px 0 29px; font: 18px 'Exo 2', 'Noto Sans KR', sans-serif; position: relative;}
.nav > ul > li > a:before{ content: ""; display: block; width: 0%; height: 3px; position: absolute; left: -5px; bottom: 20px; background-color: #000; transition: width 0.4s;}
.nav > ul > li > a:after{ content: ""; display: block; width: 0%; height: 3px; position: absolute; left: -5px; bottom: 20px; background-color: #cc0000; transition: width 0.6s;}
.nav > ul > li.active > a:before{ width: 120%;} 
.nav > ul > li.active > a:after{ width: 120%;}

/*  2dpeth  */
.nav > ul > li > ul{ width: 220px; padding: 15px 0 20px; margin-left: -110px; position: absolute; left: 20%; top: 100%; background-color: rgb(255, 255, 255, 0.9); box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); text-align: center; visibility: hidden; opacity: 0; transition: all 0.6s;}
.nav > ul > li.active > ul{ left: 50%; visibility: visible; opacity: 1;}

.nav > ul > li > ul > li > a{ display: block; padding: 10px; font-size: 18px; color: #716d6c;}
.nav > ul > li > ul > li > a:hover{ font-weight: 700; color: #000;}

/* 배너  */
.main-slide-wrap .slide{ position: relative;}
.main-slide-wrap .slide .txt-message{ width: 100%; font: 2.5rem/1.2em 'Montserrat', sans-serif; text-align: center; color: #fff; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

/* 컨텐츠 공통 */
.container{ padding-top: 85px;}
.contents{ max-width: 1200px; margin: 0 auto; padding: 133px 0 157px;}
.heading{ margin: 185px 0 40px;}
.more{ font-size: 20px; text-align: right; color: #9a9a9a;}
.more a{ display: inline-block; border-bottom: 2px solid #9a9a9a; color: #9a9a9a;}
.more > a:hover { border-bottom: 2px solid #4d4d4d; color: #4d4d4d;}

/* 양유 스토리 */
.heading.story{ margin-top: 0;}
.heading.story img{ height: 146px;}
.paragraph{ margin: 40px 0; font-size: 21px; line-height: 2; letter-spacing: -1px; color: #4b4b4b;}

/* 브랜드 리스트 */
.heading.list img{ height: 146px;}
.brand{ overflow: hidden;} /* 클리어 픽스 */
.brand ul{ margin: -25px -18px;}
.brand ul li{ float: left; width: 25%; padding: 25px 18px; box-sizing: border-box;}
.brand ul li a{ display: block; font-size: 18px;}
.brand ul li a .thum{ display: block; height: 250px; border: 1px solid #cbcbcb; position: relative;}
.brand ul li a .thum .img-box{ width: 100px; height: 100px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.brand ul li a .thum .img-box img{ width: 100%; height: auto; transform: scale(1); transition: transform 0.3s;}
.brand ul li a .thum .img-box figcaption{ width: 100%; height: 100%; text-align: center; padding-top: 35px; white-space: nowrap; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.6); opacity: 0; transition: opacity 0.6s 0.2s; box-sizing: border-box;}
.brand ul li a .thum:hover .img-box figcaption{ opacity: 1;}
.brand ul li a .thum:hover .img-box img{ transform: scale(1.2);}
.brand ul li a .name{ display: block; padding: 30px 0; font-size: 22px; font-weight: 700; text-align: center;}

/* 푸터 */
.footer{ border-top: 1px solid #d9d9d9;}
.footer .aligner{ max-width: 1200px; margin: 0 auto; background: url(../images/logo-gray.svg) no-repeat 0 65px/132px auto; padding: 100px 0;}
.footer .info{ font-size: 17px; line-height: 2em; color: #2e2e2e;}
.footer .info span{ display: inline-block; padding-left: 11px; margin-left: 10px; position: relative;}
.footer .info span:before{ content: ""; display: block; width: 1px; height: 12px; background-color: #b4b4b4; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.footer .info div span:nth-child(1){ margin-left: 0; padding-left: 0;} 
.footer .info div span:nth-child(1):before{ display: none;}
.footer .info div:nth-child(1) span:nth-child(1){ font-weight: 700; color: #000;} 
.footer .info div:nth-child(2) span:nth-child(2) a{ text-decoration: underline;}
.footer .copyright{ margin-top: 15px; font-size: 15px; color: #aaa;}



/* bx슬라이더 수정 css */
.bx-wrapper{ border: none; box-shadow: none; padding: 0; margin: 0;}
.main-slide-wrap .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{ bottom: 20px;}
.main-slide-wrap .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #fff;}
.bx-wrapper .bx-controls-direction a{ z-index: 100;}
.main-slide-wrap .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover{ background-color: #808080;}









/* 너비 최대 1280px */
@media screen and (max-width:1280px){}

/* 너비 최대 850px */
@media screen and (max-width:850px){}

/* 너비 최대 767px */
@media screen and (max-width:767px){
    
    .header{ padding: 0 1rem;}
    .header .aligner{ height: 3.5rem;}
    .header .aligner h1 a img { height: 1.8rem;} 
    .header .aligner .open{ display: block;}
    .drawer{ width: 100%; height: 100vh; background-color: #fff; position: fixed; left: 0; top:0; transform: translateX(100%); transition: transform 0.6s;} 
    .drawer.on{ transform: translateX(0);}
    .drawer .head{ height: 3.5rem; background-color: #fff; background: url(../images/logo-black.svg) no-repeat 1rem center/ auto 1rem; border-bottom: 1px solid #d7d7d7; position: relative;}
    .drawer .head .close{ visibility: visible; opacity: 1; background: url(../images/close.svg) no-repeat center; position: absolute; right: 1rem; top: 50%; transform: translateY(-50%); border: 0; text-indent: -9999px;}
    .drawer .body{ padding: 2rem 0;}
    
    
    /*    컨텐츠    */
    .container{ padding-top: 0;}
    
    /*    메인 슬라이드    */
    .main-slide-wrap{ margin-top: 56px;}
    .main-slide-wrap .slide .txt-message{ font-size: 1.5rem;}
    
    /*    1depth     */
    .nav{ position: static; right: 0; top: 0; transform: translateY(0%); width: 100%;}
    .nav > ul > li{ float: none;}
    .nav > ul > li + li{ margin-left: 0;}
    .nav > ul > li > a{ padding: 1rem 0 1rem 2rem; font-size: 1.3rem; line-height: 1.2em;}
    .nav > ul > li > a:hover{ background-color: #efefef;}
    .nav > ul > li > a:before{  display: none;}
    .nav > ul > li > a:after{ display: none;}
    
    /*    2depth    */
    .nav > ul > li > ul{  display: none; width: auto; padding: 1rem 0; position: static; left: 0; top: 0; transform: translateX(0); box-shadow: none; text-align: left; visibility: hidden; opacity: 0;}
    .nav > ul > li.active > ul{ visibility: visible; opacity: 1; display: block;} 
    .nav > ul > li > ul > li > a{ padding: 1rem 3rem; font-size: 1rem; line-height: 1.5em;}
    .nav > ul > li > ul{ margin-left: 0; transition: none;}

    /*    컨텐츠 공통    */
    .contents{ padding: 3.5rem 1rem;} 
    .heading{ margin: 6.3rem 0 2.1rem;}
    .more{ font-size: 16px;}
    
    /*    스토리    */
    .heading.story img{ height: 5.625rem;}
    .paragraph{ font-size: 16px; margin: 22px 0;}

    /*    브랜드리스트    */
    .heading.list img{ height: 5.625rem;}
    .brand ul{ margin: -0.35rem;}
    .brand ul li{ width: 50%; padding: 0.35rem;}
    .brand ul li a .thum{ height: 10.5rem;}
    .brand ul li a .name{ font-size: 0.98rem; padding: 1rem 0;}

    /*    푸터    */
    .footer{ padding: 0 1rem;}
    .footer .aligner{ padding: 80px 0 28px; background-position: 0 32px; background-size: 120px auto;}
    .footer .info{ font-size: 0.7rem; line-height: 1.9em;}
    .footer .info span{ padding-left: 0.35rem; margin-left: 0.35rem;}
    .footer .copyright{ font-size: 0.7rem; margin-top: 15px;}
    
    
    /*     bx 슬라이더    */
    .main-slide-wrap .bx-wrapper .bx-controls-direction a{ display: none;}
    .main-slide-wrap .bx-wrapper .bx-pager.bx-default-pager a{ width: 6px; height: 6px;}
    .main-slide-wrap .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{ bottom: 10px;}
    
    
}

/* 너비 최대 480px */
@media screen and (max-width:480px){}

/* 너비 최대 375px */
@media screen and (max-width:375px){}

