@charset "utf-8";

/* 폰트 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body{ font-family: 'Spoqa Han Sans Neo', '맑은 고딕', 'Malgun Gothic', 'Sans-serif'; font-size: 16px; letter-spacing: -0.6px; line-height: 1; color: #1a1a1a;}

/* 초기화 */
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img{ vertical-align: middle;}
strong{ font-weight: normal;}
em,address{ font-style: normal;}
fieldset{ border:none;}
legend{ position:absolute; top:-9999px; left:-9999px;}
input[type='text']{ font-family: 'Spoqa Han Sans Neo', '맑은 고딕', 'Malgun Gothic', 'Sans-serif'; letter-spacing: -0.6px; border: none; padding: 0;}
button{ background-color: transparent; border: none; margin: 0; padding: 0; cursor: pointer; outline: none;}
a{text-decoration:none; color:#1a1a1a;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
